@model IEnumerable<HuellasDeEsperanza.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamanio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaVacunada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaCastrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaDesparasitada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaDisponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamanio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaVacunada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaCastrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaDesparasitada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaDisponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Contrasenia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
