@model IEnumerable<HuellasDeEsperanza.Models.Solicitud>

@{
    ViewData["Title"] = "Index";
}

<h1>Solicitudes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAuditoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalleRechazo)
            </th>
            <th>
                Solicitante
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th>
                Auditado por
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAuditoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalleRechazo)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mascota.Descripcion)
            </td>
            <td>
                @(item.AuditadoPor != null ? Html.DisplayFor(modelItem => item.AuditadoPor.Nombre) : "")
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> |
                    <form asp-action="Verificar" method="post">
                        <input type="hidden" name="id" value="@item.Id" />

                        <button type="submit" class="btn btn-success btn-sm">
                            Verificar
                        </button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
